@import "tailwindcss";
@plugin "./hero.ts";
@source "../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}";

@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:is(.dark *)); */

@layer base {
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

}

:root {
  --background: #f0f1f3;
  --foreground: #858d9d;
  --font-family: "Inter", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #383e49;
}

@theme {

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border-primary: #d0d3d9;
  --color-background-primary: #1570ef;

  /* background  */
  --color-background-white: #ffffff;
  --color-background-default: #f0f1f3;

  /* Text  */
  --color-text-default: #383e49;
  --color-text-subdued: #858d9d;
  --color-text-dark: #5d6679;
  --color-text-highlight: #48505e;
  --color-text-grey-700: #667085;
  --color-text-blue: #0F50AA;

  /* border */
  --color-border-primary: #F0F1F3;
  --color-border-active: #1366D9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-family);
  color: var(--foreground);
}
