/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

@import "tailwindcss";

:root {
  --background: #f0f1f3;
  --foreground: #858d9d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #383e49;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border-primary: #d0d3d9;
  --color-background-primary: #1570ef;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
