@import "tailwindcss";
@plugin "./hero.ts";
@source "../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}";

@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:is(.dark *)); */

:root {
  --background: #f0f1f3;
  --foreground: #858d9d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #383e49;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border-primary: #d0d3d9;
  --color-background-primary: #1570ef;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* background  */
  --color-background-white: #ffffff;

  /* Text  */
  --color-text-default: #383e49;
  --color-text-subdued: #858d9d;
  --color-text-dark: #5d6679;
  --color-text-grey: #48505e;
  --color-text-grey-700: #667085;
  --color-text-blue: #0F50AA;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
